* {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

input, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: #333333;
}

a:focus, a:active, a:visited {
  text-decoration: none;
  color: #333333;
}
